.editor-wrapper{
    order: 1;
	flex-basis: 80%;
	background-color: aqua;
	display: flex;
	flex-flow: ltr nowrap;
	overflow-x: hidden;
	overflow-y: auto;
}

.lineNums{
	flex-basis: auto;
	background-color: black;
	overflow-y: hidden;
	-ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

.lineNums::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.textPadding{
	padding: 0.25rem;
	border: none;
}

.textArea{
	flex-basis: 100%;
	width: auto;
	overflow: auto;
}

.lineNums > span{
	color: white;
	display: block;
}