button {
    border-radius: .25rem;
    border:none;
    border-bottom: 3px solid;
    outline: none;
    vertical-align: center;

    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-left: .25rem;
    margin-right: .25rem;
    
    color: white;
    font-family: "Roboto:400", sans-serif;
    font-size: 10pt;

}

button:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .75);
}

button:active{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .75) inset;
    border:none
}