button {
    border-radius: .25rem;
    border:none;
    box-shadow:  0px 3px 5px -1px #00000086;
    outline: none;
    vertical-align: center;

    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-left: .5rem;
    margin-right: .5rem;
    
    color: white;
    font-family: "Roboto:400", sans-serif;
    font-size: 10pt;

    transition: box-shadow .35s;
    transition: background-color .35s;


    &:hover{
        box-shadow:  0px 5px 5px -1px #00000086;
    }
    
    &:active{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, .65) inset;
        border:none
    }
    &:disabled{
        box-shadow: none!important;
        background-color: #565656c7!important;
        border-color: #565656!important;
    }
}