#ace-editor{
    order: 1;
	flex-basis: 300px;
	display: flex;
	width: 100% !important;
	height: 75% !important;
	min-height: 75%;
	flex-flow: ltr nowrap;
	padding: 0.5rem !important;
	box-sizing: border-box !important;
	font-family: 'Source Code Pro', monospace;
	font-size: 12pt !important;
	direction:ltr !important;
}

#ace-editor * {
	font-family: 'Source Code Pro', monospace;
	font-size: 12pt !important;
	direction:ltr !important;
}