.text-wrapper{
    order: 1;
    flex-basis: 35%;
}

.view-wrapper {
    order: 2;
    flex-basis: 65%;
}

.flex {
    display: flex;
    align-items: stretch;
}

.outer-flex {
    flex-flow: row nowrap;
}

@media (min-width: 0px) {
    .outer-flex{
        flex-flow: column nowrap;
    }
    .text-wrapper{
        order: 2;
        overflow-y: auto;
    }
    .view-wrapper{
        order: 1;
    }
}

@media (min-width: 768px) { 
    .outer-flex {
        flex-flow: row nowrap;
    }
    .text-wrapper{
        order: 1;
    }
    .view-wrapper{
        order: 2;
    }
}

.code-wrapper{
    order: 1;
    flex-grow:7;
}

/* Media Queries */
@media (min-width: 576px) { 
    .inner-flex{
        flex-flow: row nowrap;
    }
}

@media (min-width: 768px) {
    .inner-flex {
        flex-flow: column nowrap;
    }
}

.frame {
    position: relative;
}
