.text-wrapper{
    order: 1;
    width: 35%;
    flex: 1 1 35% auto;

    overflow: hidden;

    display: flex;
    align-items: stretch;
    flex-flow: ltr nowrap;
    min-width: 25%;
}

.text-wrapper * {
    font: 11pt "Ubuntu Mono", monospace;
}

.scrubber {
    flex-basis: 5px;
    flex-shrink: 0;
    cursor: ew-resize;
}

.view-wrapper {
    flex: 1 1 auto;
    order: 2;
    overflow: auto;
}

.view-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.flex {
    display: flex;
    align-items: stretch;
}

.min-max {
    min-width: 100%;
    min-height: 100%;
}

.outer-flex {
    flex-flow: row nowrap;
}

@media (min-width: 0px) {
    .outer-flex{
        flex-flow: column nowrap;
    }
    .text-wrapper{
        order: 2;
        overflow-y: auto;
        width: 100% !important;
        height: 35%;
    }
    .view-wrapper{
        order: 1;
    }
    .scrubber{
        display:none;
    }
}

@media (min-width: 768px) { 
    .outer-flex {
        flex-flow: row nowrap;
    }
    .text-wrapper{
        order: 1;
        width: 35% !important;
        height: 100%;
    }
    .view-wrapper{
        order: 2;
    }
    .scrubber{
        display:flex;
    }
}

.code-wrapper{
    order: 1;
    flex-grow:7;
}

/* Media Queries */
@media (min-width: 576px) { 
    .inner-flex{
        flex-flow: row nowrap;
    }
}

@media (min-width: 768px) {
    .inner-flex {
        flex-flow: column nowrap;
    }
}