button {
    border-radius: .5rem;
    border: none;
    outline: none;
    vertical-align: center;

    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-left: .25rem;
    margin-right: .25rem;
}