
.code-wrapper{
    order: 1;
    flex-grow:7;
}

.console-wrapper{
    order: 2;
    flex-grow: 3;
}
/* Media Queries */
@media (min-width: 576px) { 
    .inner-flex{
        flex-flow: row nowrap;
    }
}

@media (min-width: 768px) {
    .inner-flex {
        flex-flow: column nowrap;
    }
}

textarea {
    outline: none;
    border-width: 2px;
    border-color: #303132;
    padding: .5rem;
}
textarea.dark {
    color: white;
    background-color: hsl(210, 3%, 12%);
}
textarea.light {
    background-color: white;
    color: hsl(210, 3%, 12%);
}