.navbar {
    display: flex;
    flex-flow: row nowrap;
    height: 3.5rem!important;
    width: 100%;
    align-items: center;
    justify-content: left;
}

.nav{
    padding-left: .75rem;
    padding-right: .75rem;
}