
.code-wrapper{
    order: 1;
    flex-grow:7;
}

/* Media Queries */
@media (min-width: 576px) { 
    .inner-flex{
        flex-flow: row nowrap;
    }
}

@media (min-width: 768px) {
    .inner-flex {
        flex-flow: column nowrap;
    }
}
