* {
    box-sizing: border-box;
}

/* layouts */
.flex {
    display: flex;
    align-items: stretch;
}

/* widths */
html, body, #root, .root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    outline: none;
}

.max {
    width: 100%;
    height: 100%;
}

.outer {
    width: 100%;
    height: calc(100%);
}

/* shadows */

.shadow{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .56);
}
.inset-shadow{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .56) inset;
}


textarea {
    outline: none;
    border: none;
    padding: .5rem;
    resize: none;
    tab-size: 3;
}

textarea.dark {
    color: white;
    background-color: hsl(210, 3%, 12%);
}
textarea.light {
    background-color: white;
    color: hsl(210, 3%, 12%);
}

/* color palette */
.black-b {
    background-color: #1e1e24;
}

.black-f {
    color: #1e1e24;
}

.gray-b {
    background-color: #565656;
}

.gray-f {
    color: #565656;
}

.blue-b {
    background-color: #1d3461;
}

.blue-f {
    color: #1d3461;
}

.turq-b {
    background-color: #247ba0;
}

.turq-f {
    color: #247ba0;
}

.sky-b {
    background-color: #a2aebb;
}

.sky-f {
    color: #a2aebb;
}